:root {
  --tile-color-lighter: #ffeeaa;
  --tile-color-darker: #ffde5a;
  --heading-font: 'Muli', sans-serif;
  --heading-font-color: #ff2f2f;
  --white: #fff;
  --black: #000;
  --gap: 10px;
  --font-weight: 700;
  --font-size-basic: 20px;
  --font-size-h: 28px;
  --shadow: 4px 3px 20px #fff;
  --radius: 7px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: var(--font-size-basic);
  max-width: 1000px;
  margin: auto;
}

footer {
  height: 40px;
}

h1 {
  font-family: var(--heading-font);
  font-size: 38px;
  font-weight: var(--font-weight);
  color: var(--heading-font-color);
}

h2 {
  font-family: var(--heading-font);
  font-size: var(--font-size-h);
  font-weight: var(--font-weight);
  color: var(--heading-font-color);
  text-shadow: var(--shadow);
}

h3 {
  font-family: var(--heading-font);
  font-size: var(--font-size-basic);
  font-weight: var(--font-weight);
  color: var(--heading-font-color);
  text-shadow: var(--shadow);
}

header {
  width: 100%;
  text-align: center;
}

.tile {
  height: 50px;
  width: 50px;
  background-size:cover;
  background-position: center;
  background-color: var(--tile-color-lighter);
  margin-top: -5px;
}

.tile:hover,
.tile:focus {
  cursor: pointer;
  background-color: var(--tile-color-darker);
  color: var(--white);
}

.tile:active {
  box-shadow: none;
}
